header
{
    padding: 2% 4%;
}

h1
{
    margin-bottom: 5%;
}

h3
{
    margin-bottom: 1%;
}

.ui.five.item.menu > a
{
    margin: 0 4%;
}

main 
{
    width: 80%;
    margin: 0 auto;
}

article 
{
    margin: 2% 0;
}

footer, input[type="submit"]
{
    padding: 2%;
}

footer h1
{
    margin-bottom: 0;
}


a
{
    padding: 10%;
}